{% extends "base.html" %}
{% block title %} Главная страница магазина {% endblock %}

{% block body %}
    <header>
        <nav class="navbar navbar-light bg-light">
            <p>
            <center>
                <a class="btn btn-primary" href="/">В меню</a>
                <a class="btn btn-danger" href="/logout">{{ current_user.name }}</a>
            </center>
        </nav>
    </header>

    <header>
        <nav class="navbar navbar-light bg-light">
            <center>
                <h3>
                    Ваш баланс: <b>{{ card.cash }}₽</b>, статус Вашей карты - <b>{{ card.status }}</b>
                </h3>
            </center>
        </nav>
    </header>

    {% for product in data %}
        <div class="col-sm-12 border rounded">
            <h2>{{ product[1] }}</h2>
            {{ product[2] }}
            <h4>{{ product[3] }}</h4>
            <h4>Цена - {{ product[4] }} ₽</h4>
            <h4>Имеется: {{ product[5] }} шт.</h4>
            <h4>Вся стоимость: {{ product[4] * product[5] }} ₽</h4>
        </div>
        <br>
    {% endfor %}

{% endblock %}
