{% extends "base.html" %}
{% block title %} Главная страница магазина {% endblock %}

{% block content %}
    <header>
        <nav class="navbar navbar-light bg-light">
            <p>
            <center>
                {% if current_user.is_authenticated %}
                    <a class="btn btn-primary" href="/view_advertisement">Посмотреть рекламу</a>
                    <a class="btn btn-danger" href="/logout">{{ current_user.name }}</a>
                {% else %}
                    <a class="btn btn-success" href="/reg">Зарегистрироваться</a>
                    <a class="btn btn-info" href="/login">Войти</a>
                {% endif %}
            </center>
        </nav>
    </header>


    {% if num == 1 %}
        <h3>Баланс Вашей карты: <i>{{card.cash}}</i></h3>
        <h3>Статус Вашей карты: <i>{{card.status}}</i></h3>
        <h4>Номер Вашей карты: <i>{{card.number}}</i></h4>
        <h4>Срок Вашей карты: <i>{{card.term}}</i></h4>
        <h4>Код Вашей карты: <i>{{card.code}}</i></h4>

        <br>


    {% elif num == 2 %}
    {% elif num == 3 %}
    {% elif num == 4 %}
    {% elif num == 5 %}
    {% endif %}





{% endblock %}